.addjob-back-save-container {
    margin-bottom: -70px;
    margin-top: 30px;
}

.back-icon-addjob {
    font-size: 40px;
}

.addjob-salary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5px;
}

.addjob-salary-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.addjob-salary-radio {
    transform: scale(0.8);
    accent-color: #2ecc71;
}

.addjob-selectedsalary1 {
    display: none;
}

.addjob-selectedsalary1-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}

.salary-excat-label {
    display: flex;
    justify-content: right;
}

.addjob-selectedsalary2 {
    display: none;
}

.addjob-selectedsalary1.show {
    display: block;
}

.addjob-selectedsalary2.show {
    display: block;
}

.addjob-selectedsalary-container.hide {
    display: none;
}

.currency-picker {
    height: 45px;
}

.salary-range-input-content {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.salary-range-input-content input {
    width: 75px;
}

.salary-range-label {
    display: flex;
    justify-content: right;
}

.custom-select {
    accent-color: black;
    direction: rtl;
}

.quill-format .ql-editor::before {
    direction: rtl;
    text-align: right;
}

.addjob-langs {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.addjob-langs-each {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.loader {
    display: block;
    color: white;
}

.loader-hidden {
    display: none;
}

.addjob-salary-checkbox {
    transform: scale(0.8);
    accent-color: #2ecc71;
}

@media(min-width:700px) and (max-width: 1280.98px) {

    .img-section,
    .quill-section,
    .salary-section,
    .language-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .img-section input {
        direction: rtl;
    }

    .addjob-salary-container {
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    .addjob-salary-content input,
    .language-section input {
        transform: scale(1.1);
    }

    .addjob-salary-content label,
    .language-section label {
        font-size: 20px;
    }

    .addjob-selectedsalary1-content input {
        width: 300px;
    }

    .salary-range-input-content {
        justify-content: right;
    }

    .salary-range-input-content input {
        width: 200px;
    }

    .addjob-langs {
        gap: 90px;
    }

    .addjob-back-save-container-pc {
        max-width: 900px;
        margin: 0rem auto;
    }

    .addjob-back-save-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
    }
}