@font-face {
    font-family: 'kurdish';
    src: url('../../public/K24KurdishBold-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kurdish', sans-serif;
    overflow-x: hidden;
}

.back-save-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.back-icon {
    margin-left: 30px;
    font-size: 25px;
}

.save-icon {
    margin-right: 30px;
    font-size: 25px;
}

.jobdetails-upper-info {
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0px 20px;
}

.jobdetails-bg-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(254, 254, 240);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.jobdetails-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.jobdetails-title {
    color: rgb(70, 69, 69);
    font-size: 25px;
    font-weight: 600;
    margin-top: -10px;
}

.img-placer {
    margin-top: -60px;
}

.jobdetails-info-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    gap: 40px;
    font-size: 17px;
    margin-top: -10px;
}

.jobdetails-lower-info {
    margin-top: 35px;
}

.jobdetails-lower-info-icon {
    font-size: 20px;
    background-color: beige;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.circle-icon {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.jobdetails-lower-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.jobdetails-lower-info-container-each {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.first-one-container {
    background-color: #FCECC2;
}

.second-one-container {
    background-color: #EADAF8;
}

.third-one-container {
    background-color: #D2EEF7;
}

.first-one-icon {
    color: rgb(113, 3, 113);
}

.jobdetails-lower-info-p{
    color:#6c757d;
}

.jobdetails-info-container-2{
    margin-top: -20px;
}

.like-button,
.dislike-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Like Button */
.like-button {
    background-color: #34A853;
}

.like-button:hover {
    background-color: #2E7D32;
}

/* Dislike Button */
.dislike-button {
    background-color: #EA4335;
}

.dislike-button:hover {
    background-color: #B71C1C;
}

.like-dislike-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.like-dislike-view{
    padding-bottom: 10px;
}

.jobdetails-lower-info-p2{
    margin-top: -10px;
}

.optional-extra-info-container{
    text-align: right;
    margin-right: 25px;
}

.optional-extra-info-p{
    font-size: 19px;
}

.jobdetails-lower-info-phone-num-a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.jobdetails-description-header{
    text-align: right;
    margin-right: 30px;
    font-family: sans-serif;
}

.jobdetails-description-p{
    padding: 0px 20px;
}

.jobdetails-description-p-en{
    text-align: left;
}

.jobdetails-description-p-ku{
    text-align: right;
}

.jobdetails-botoom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.jobdetails-botoom-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.jobdetails-botoom-report-button{
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #EA4335;
}

.jobdetails-botoom-report-button:hover{
    background-color: #B71C1C;
}

.jobdetails-botoom-vip-button{
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #34A853;
}

.jobdetails-botoom-vip-button:hover{
    background-color: #2E7D32;
}

hr{
    margin: 0px 20px;
    opacity: 0.2;
    border: 1px solid black;
    border-radius: 5px;
}