body {
    margin: 0;
    padding: 0;
    font-family: 'kurdish', sans-serif;
}

.settings-container {
    padding-top: 80px;
}

.settings-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-options-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #388e3c;
}

.settings-options-title-text-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    position: relative;
    color: hsl(0, 0%, 94%);
}

.settings-options-title-text-icon:not(:last-child)::after {
    content: "";
    display: block;
    height: 1px;
    width: 90%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    margin: 10px auto 0 auto;
    position: absolute;
    bottom: 0px;
    left: 5%;
}

.settings-options-title-text-icon:hover {
    background-color: #2e7d32;
    color: #f1f1f1;
}

.settings-options-title-text-icon p {
    font-size: 19px;
    font-weight: bold;
}

.settings-pages-changename,
.settings-pages-changeemail,
.settings-pages-changepassword,
.settings-pages-deleteaccount {
    display: none;
}

.settings-pages-changename.active,
.settings-pages-changeemail.active,
.settings-pages-changepassword.active,
.settings-pages-deleteaccount.active {
    display: block;
}

.settings-pages-changename,
.settings-pages-changeemail,
.settings-pages-changepassword,
.settings-pages-deleteaccount{
    padding: 0px 20px;
    margin-top: 40px;
    text-align: center;
}

.settings-pages-title p{
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family:  sans-serif;
}

.settings-pages-title small{
    font-size: 13px;
    color: gray;
    font-weight: bold;
    font-family:  sans-serif;
}

.settings-pages-input input{
    width: 80%;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #4caf50;
    margin-bottom: 15px;
    font-size: 15px;
    direction: rtl;
    font-family:  sans-serif;
}

.settings-pages-input input::placeholder{
    text-align: right;
}

.settings-pages-alert-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-pages-alert{
    background-color: #dc3545;
    padding: 10px 40px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    margin-top: 15px;
    font-family:  sans-serif;
    text-align: right;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.settings-pages-alert i {
    font-size: 17px;
}

.settings-pages-changename-button{
    text-align: center;
    margin-top: 10px;
}

.settings-pages-changename-button button{
    padding: 10px 20px;
    width: 80%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family:  sans-serif;
    cursor: pointer;
    margin-top: 20px;
}

.settings-pages-changename-deletebutton button{
    padding: 10px 20px;
    width: 80%;
    background-color: #FF4D4D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family:  sans-serif;
    cursor: pointer;
    margin-top: 40px;
}

.settings-pages-alert-container-email small{
    font-size: 16px;
}

.settings-pages-input-email{
    margin-top: -10px;
}

.settings-pages-title-password{
    margin-bottom: 35px;
}

.settings-pages-changename-button-password{
    margin-top: 20px;
    margin-bottom: 50px;
}

.settings-pages-changename-button-password-forget a{
    color: #4caf50;
    font-weight: bold;
    font-size: 15px;
    font-family:  sans-serif;
    text-decoration: none;
}

@media(min-width:700px) and (max-width: 1280.98px) {
    .settings-container {
        display: flex;
        flex-direction: row;
    }

    .settings-pages {
        width: 100%;
        padding: 0px 40px;
        text-align: right;
    }

    .settings-options-title {
        justify-content: flex-start;
        height: 100vh;
        padding-top: 20px;
    }

    .settings-options-title-text-icon {
        width: 240px;
        padding: 5px 0;
    }

    .settings-pages-changename-button-password{
        margin-top: 20px;
        margin-bottom: 0px;
    }    
}